
#color {
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    color: white;
}

#hamburger {
    width: 5%;
    height: 5%;
}

#menu {
  margin-top: 0px;
    
}

.hidden {
    visibility: hidden;
            
}

.visible {
    visibility: visible;
      
}

ul li {
    list-style: none;
    margin: auto;
    text-align: center;
    color: white;
    padding: 20px;
    width: 140px;
    height: 20px;
    border: solid grey 1px;
    
}

.text {
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.grey {
    border: solid grey 1px;
    padding-top: 18px;
    padding-left: 10px;
    margin-left: 60px;
    color: white;
    width: 260px;
    height: 40px;
    background-color: grey;
}

.red {
    border: solid grey 1px;
    padding-top: 18px;
    padding-left: 10px;
    margin-left: 60px;
    color: white;
    width: 260px;
    height: 40px;
    background-color: red;
}

.orange {
    border: solid grey 1px;
    padding-top: 18px;
    padding-left: 10px;
    margin-left: 60px;
    color: white;
    width: 260px;
    height: 40px;
    background-color: orange;
}

.purple {
    border: solid grey 1px;
    padding-top: 18px;
    padding-left: 10px;
    margin-left: 60px;
    color: white;
    width: 260px;
    height: 40px;
    background-color: purple;
}

.green {
    border: solid grey 1px;
    padding-top: 18px;
    padding-left: 10px;
    margin-left: 60px;
    color: white;
    width: 260px;
    height: 40px;
    background-color: green;
}
